@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Programación V .NET</h1>
    <h2>Mazda RX-7 Veilside</h2>
</div>

<div class="img-center">
    <img src="https://files.cults3d.com/uploaders/16941119/illustration-file/1c954592-7c02-46e8-8824-2fdedaa2db13/AE089-01HF__33872.jpg" />
</div>

<p>The majority of the cars in the franchise were show cars which immediately went into full onscreen duty. The same holds true for the RX-7 which was built by Veilside as a show car to show off its Fortune wide-body kit. It then went off to a Tokyo Auto Salon and was then purchased from Veilside for use in “Tokyo Drift.”</p>
